<%= form_with(model: @jweet, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @jweet.errors.any? %>
    <div id="error_explanation">
      <h2 id="error_msg"><%= @jweet.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @jweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li><br>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="jweet_content">
    <div>
      <%= form.label :content %>
    </div>
    <div>
      <%= form.text_area :content, size: "20x7", maxlength: 150 %>
    </div>
    <%= form.submit %>
    <br>
    <%= link_to 'Back to index page', jweets_path %>
  </div>
<% end %>