<h3>Confirm your post below</h3>
<%= form_with(model: @jweet, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>Content:<%= @jweet.content %></p>
  <%= form.submit  "submit your Jweet" %>
  <br>
  <%= form.submit "Back", name: 'back' %>
<% end %>
<%= link_to 'Back to index page', jweets_path %>